*.vs
/Easy/TextToMorse/TextToMorse/bin/Debug/netcoreapp2.2
/Easy/TextToMorse/TextToMorse/obj
/Easy/TextToMorse/TextToMorseTest/bin/Debug/netcoreapp2.2
/Easy/TextToMorse/TextToMorseTest/obj
/Easy/TextToMorse/TextToMorseDotNetStandard/bin/Debug/netstandard2.0
/Easy/TextToMorse/TextToMorseDotNetStandard/obj/Debug/netstandard2.0
/Easy/TextToMorse/TextToMorseDotNetStandard/obj
/Easy/TextToMorse/TextToMorseUI/bin/Debug
/Easy/TextToMorse/TextToMorseUI/obj/Debug
/Easy/TextToMorse/TextToMorseUI/Properties
/Easy/TextToMorse/TextToMorse/bin/Debug/netstandard2.0
